@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light-white: #f5f8fa;
  --gray: #5e6278;
  --gray-1: #e3e3e3;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.wrapper {
  padding: 0 0 100px;
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  min-height: 100%;
}
.wrapper .log img {
  max-width: 50%;
}
.wrapper input {
  background-color: var(--light-white);
  border-color: var(--gray);
}
.wrapper input:focus {
  box-shadow: none;
}
.wrapper span {
  background-color: var(--light-white);
  border-color: var(--gray);
}
.wrapper .submit-btn {
  padding: 15px;
  font-weight: 500;
}
.wrapper .logn-with {
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
}
.wrapper .logn-with,
.wrapper .submit-btn :focus {
  box-shadow: none;
}
.wrapper .logn-with img {
  max-width: 8%;
}
.wrapper .logn-with:hover {
  background-color: var(--gray);
  color: var(--light-white);
}
